.page {
  min-width: 320px;
  margin: 0;
  font: #{$fontSizeTextMobile}/#{$lineHeightTextMobile} $fontFamilyText;
  color: $colorText;
  background-color: $colorWhite;

  @media (min-width: 768px) {
    font-size: $fontSizeTextTablet;
    line-height: $lineHeightTextDesktop;
  }

  @media (min-width: 1280px) {
    font-size: $fontSizeTextDesktop;
  }
}

.page__header {
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;

  .no-js & {
    position: absolute;
  }

  .js & {
    position: fixed;
  }
}

.page__hero {
  margin-bottom: 11px;

  @media (min-width: 768px) {
    margin-bottom: 57px;
  }

  @media (min-width: 1280px) {
    margin-bottom: 53px;
  }
}

.page__discography {
  margin-bottom: 49px;

  @media (min-width: 768px) {
    margin-bottom: 75px;
  }

  @media (min-width: 1280px) {
    margin-bottom: 154px;
  }
}

.page__tours {
  margin-bottom: 53px;

  @media (min-width: 768px) {
    margin-bottom: 72px;
  }

  @media (min-width: 1280px) {
    margin-bottom: 150px;
  }
}
