.tour {
  width: calc(50% + 36px);

  @media (min-width: 768px) {
    width: calc(50% + 193px);
  }

  @media (min-width: 1280px) {
    width: 675px;
  }
}

.tour__meta {
  margin-bottom: 38px;

  @media (min-width: 768px) {
    margin-bottom: 55px;
  }

  @media (min-width: 1280px) {
    width: 394px;
    margin-bottom: 73px;
  }
}

.tour__date {
  @extend %text-date;
  margin-bottom: 2px;

  @media (min-width: 1280px) {
    margin-bottom: 5px;
  }
}

.tour__name {
  @extend %text-name;
  padding-top: 1px;

  @media (min-width: 768px) {
    padding-top: 5px;
  }

  @media (min-width: 1280px) {
    padding-top: 3px;
  }
}

.tour__title {
  @extend %subtitle;
  margin-bottom: 10px;

  @media (min-width: 768px) {
    margin-bottom: 15px;
  }

  @media (min-width: 1280px) {
    margin-bottom: 21px;
  }
}

.tour__description {
  @extend %text;
  margin-bottom: 51px;

  @media (min-width: 768px) {
    margin-bottom: 21px;
  }

  @media (min-width: 1280px) {
    max-height: 120px;
    margin-bottom: 34px;
    overflow: hidden;
  }
}
