%list-reset {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

%container-wide {
  box-sizing: border-box;
  min-width: 320px;
  max-width: 2000px;
  margin-right: auto;
  margin-left: auto;
}
