// Задаём цвета сайта
$colorWhite: #ffffff;
$colorBlack: #000000;

$colorText: #798285;
$colorTextLight: #acacac;
$colorTextDark: #565e61;
$colorTextXDark: #5a5a58;
$colorTextMenu: #606060;
$colorTextLink: #7b7b7b;

$colorTitleEvents: #42717e;
$colorTitleHistoryPrimary: #5b5c5a;
$colorTitleHistorySecondary: #575a59;
$colorTitleContact: #454545;
$colorTitleGradientDark: #62a2ad;
$colorTitleGradientLight: #8dbab3;

$colorMenuIcon: #bfbfbf;
$colorShareButton: #999999;
$colorVideoRange: #707070;
$colorVideoTime: #878787;

$colorBackground: #f5f6f6;
$colorBackgroundMenu: #00080c;
$colorBackgroundSlider: #313131;

$colorBorder: #636363;

// Задаём характеристики шрифта и текста
$fontWeightLight: 300;
$fontWeightNormal: 400;
$fontWeightBold: 700;

$fontSizeTextSmallMobile: 6px;
$fontSizeTextSmallTablet: 9px;
$fontSizeTextSmallDesktop: 12px;
$fontSizeTextMobile: 7.5px;
$fontSizeTextTablet: 10.5px;
$fontSizeTextDesktop: 14px;
$fontSizeTextLargeMobile: 10px;
$fontSizeTextLargeTablet: 14.79px;
$fontSizeTextLargeDesktop: 20px;
$fontSizeTextHugeMobile: 41.145px;
$fontSizeTextHugeTablet: 62.48px;
$fontSizeTextHugeDesktop: 82.29px;

$fontSizeTitleTinyMobile: 8.5px;
$fontSizeTitleTinyTablet: 13.825px;
$fontSizeTitleTinyDesktop: 18.49px;
$fontSizeTitleSmallMobile: 17.745px;
$fontSizeTitleSmallTablet: 26.515px;
$fontSizeTitleSmallDesktop: 35.49px;
$fontSizeTitleMobile: 25.245px;
$fontSizeTitleTablet: 37.22px;
$fontSizeTitleDesktop: 50.49px;

$fontSizeSubtitleMobile: 11.5px;
$fontSizeSubtitleTablet: 17px;
$fontSizeSubtitleDesktop: 23px;

$lineHeightNormal: 1.2;

$lineHeightTextSmall: 1.376;
$lineHeightTextMobile: 1.618;
$lineHeightTextDesktop: 1.734;

$lineHeightTitleSmallMobile: 1.545;
$lineHeightTitleSmallDesktop: 1.421;
$lineHeightTitle: 1.174;

$lineHeightSubtitle: 1.055;
$lineHeightSubtitleLarge: 1.533;

$fontFamilyText: "Open Sans", "Arial", sans-serif;
$fontFamilyTextAlt: "Myriad Pro", "Arial", sans-serif;
$fontFamilyTitle: "Dosis", "Arial", sans-serif;

$letterSpacing: 0.018em;
$letterSpacingLarge: 0.118em;
